.guidenav {

  &__mobile {
    &__container {
      width: 100%;
      max-width: 500px;
      //margin-bottom: 30px;
    }
  }

  &__container {
    min-width: 230px;
    max-width: 250px;
  }

  &__about {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }

    &__image {
      border: 1px solid #808080;
    }

    &__image--mobile {
      border: 1px solid #808080;
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &__heading {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
  }

  &__post {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    padding: 3px;
    color: #808080;
  }

  &__post:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &__dropdown {
    &__container {
      color: #808080;
      font-size: 15px;
      padding: 3px;
    }

    &__container:hover {
      cursor: pointer;
    }

    &__month {
      display: inline-block;
      text-decoration: none;
      padding: 3px;
      color: #808080;
    }

    &__month:hover {
      text-decoration: underline;
    }

    &__year {
      color: #808080;
      margin-right: 5px;
    }

    &__iconcontainer {
      display: flex;
      align-items: center;
    }
  }
}
