.guide {

  &__container {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    max-width: 1100px;
    min-width: 300px;
  }

  &__sharebutton__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__dateshare__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__sharebutton__img {
    width: 15px;
    height: 15px;
    border: 0;
    box-shadow: 0;
  }

  &__date {
    font-size: 17px;
    color: #555;
  }

  &__analytics {
    font-size: 15px;
    color: black;
  }

  &__title__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__titleimage__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: #00aaff;
    margin: 0;
    font-weight: 800;
    font-size: 30px;
  }

  &__title__link {
    text-decoration: none;
  }

  &__subtitle {
    margin: 0;
    font-weight: normal;
    color: #808080;
    color: #555;
    font-size: 17px;
  }

  &__titleimage {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 200px;
    max-height: 120px;
    transition: transform 0.3s;
  }

  &__titleimage:hover {
    transform: scale(1.1);
  }

  &__dropdown__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__dropdown__iconcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  &__dropdown__iconcontainer:hover {
    cursor: pointer;
  }

  &__dropdown__icon {
    font-size: 25px;
    color: black;
  }

  &__dropdown__icon:hover {
    cursor: pointer;
  }

  &__content__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
