.navigator {

  &__container {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    width: 100%;
    max-width: 100%;
    height: 45px;
    max-height: 45px;
    z-index: 2;
  }

  &__input {
    width: 100%;
    padding: 10px;
    border: none;
    text-shadow: 1px 1px 1px rgba(180, 180, 180, 1);
    font-size: 15px;
    height: 15px;
    max-height: 15px;
  }

  &__input:focus {
    border: 0;
    outline: none;
  }

  &__output {
    position: absolute;
    padding: 10px;
    font-size: 15px;
    top: 40px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  &__output--option {
    margin-right: 5px;
    text-shadow: 1px 1px 1px rgba(180, 180, 180, 1);
    font-size: 15px;
  }

  &__button {
    padding-left: 8px;
    padding-right: 8px;
    background-color: inherit;
    border: none;
    opacity: 1;
  }

  &__button:hover {
    cursor: pointer;
  }

  &__button:focus {
    border: 0;
    outline: none;
  }

  &__button:active {
    border: 0;
    outline: none;
    opacity: 0.5;
  }

  &__menu {
    position: fixed;
    top: 45px;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    width: 100%;
    height: 45px;
    max-height: 45px;
    z-index: 2;
  }

  &__menu {
    &__item {
      font-size: 28px;
      margin-left: 10px;
      background-color: inherit;
      border: none;
      opacity: 1;
    }

    &__item:hover {
      cursor: pointer;
    }

    &__item:focus {
      border: 0;
      outline: none;
    }

    &__item:active {
      border: 0;
      outline: none;
      opacity: 0.5;
    }
  }

}

.adminnavigator {

  @media screen and (max-width: 490px) {
    &__container {
      flex-wrap: wrap;
    }
    &__input {
      margin-top: 5px;
    }
  }

  &__container {
    position: fixed;
    top: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e8e8e8;
    background-color: #0cd1df;
    background-color: rgba(12, 209, 223, 0.45);
    width: 100%;
    max-width: 100%;
    z-index: 2;
  }

  &__button {
    padding: 5px;
    width: 100px;
    min-width: 100px;
    height: 30px;
    border-radius: 2px;
    background-color: rgb(12, 209, 223);
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  &__button:hover {
    cursor: pointer;
  }

  &__button:active {
    background-color: rgb(10, 182, 194);
    box-shadow: none;
  }

}
