.support {

  &__container {
    z-index: 2;
    font-size: 30px;
    position: fixed;
    padding: 10px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size 0.2s;
  }

  &__container:hover {
    cursor: pointer;
  }

  &__widgets__container {
    position: fixed;
    left: 50px;
    bottom: 45px;
    background-color: red;
  }

}
